.todo {
    border: 1px solid #bebebe;
}
.todo ul {
    margin: 0;
    padding: 0;
}
.todo ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo ul li .title {

}
.todo ul li .buttons :nth-child(2){
    margin-left: 20px;    
}
.my-table {
    
}

.table .buttons {
    
}